
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-report/
/allure-results/
/playwright-report/
/screenshot/
/test-results/
/test-examples/
packae-lock.json
package.json
playwright.config.js
